
body{
	color: white;
	letter-spacing: 0px;
	/* font-family: Georgia; */
	font-family: Garamond;
}


.startof{
width: 100%;
display: flex;
height:50px;
margin-bottom: 10px;
}

.imageofbiocoop{
	width: 10%;
	height: 50px;
}

.navigationa{
	padding-top: 0px;
	height: 50px;
	margin-left: 10%;
	margin-top: 0px;
	list-style: none;
	width: 80%;
	position: absolute;
}
.navigationa ul{
	padding-top: 0px;
	height: 30px;
	margin-top: 0px;
	list-style: none;
	margin-left: 0px;
	width: 100%;
	position: absolute;
}

.navigationa ul li ul{
	margin-top: 0px;
	list-style: none;
	margin-left: 0%;
	width: 40%;
	position: absolute;

}
.navigationa ul li ul li{
	display: none;
 float: none;
}

.navigationa ul li ul li a{
	list-style: none;
	width: 30%;
	color: white;
	margin-left: -40px;
	position: absolute;
background-color:  #78ad7a;
opacity: 0.9;

}

.navigationa ul li{

height: 30px;
	width: 14%;
	margin-top: 0px;
	float: left;
	margin-left: 0.2%;
}

ul li a{
	color: white;
	padding-top: 20px;
	height: 30px;
	position: center;
	display: block;
	text-decoration: none;
	font-size: 15px;
	text-align: center;
	font-family: Georgia;
	font-weight: bold;
	background-color:  #78ad7a;
}

 ul li a:hover{
	 background-color: black;
	 color: white;
}


	ul{
	list-style: none;
	position: absolute;
}


ul li{
	float: none;
}

	ul li:hover ul li{
		display: block;
		float: none;
		margin-top: 10px;
		opacity: 0.9;
	}
	ul li ul li:hover a{
		background-color: black;
		color: white;
	}

.welcome{
	height: 5%;
	background-color: #78ad7a;
}
.lastpart{
	background: #78ad7a;
	 height: 20%;
	height: 200px;
	width: 100%;
}

.lastpart{
	background: #78ad7a;
	/* height: 20%; */
	height: 200px;
	width: 100%;
}


.slidespage{
	width: 100%;
	height: 400px;
	margin-top: 0px;
	display: flex;
}

.Companysexplanation{
	width: 100%;
	height: 40%;
	margin-bottom: 10px;
	display: flex;
	font-size: 20px;
}
.videopart{
	width: 50%;
	height: 300px;
	margin-left: 10px;
}
.paragraph{

	width: 50%;
	height: 300px;
	color: black;
}
.Companysexplanation p{
	 margin-left: 10px;
}

h4,h3{
	margin-left: 10px;
}
ul h4{
	margin-left: 10px;
}

.welcome{
width: 100%;
height: 5%;
margin-bottom: 10px;
}
.welcome h3{
	padding-top: 5px;
	margin: 10px;
	background-color:#78ad7a;
	}

	h3{
	 padding-top: 5px;
	 margin: 10px;
	 background-color:#78ad7a;
 }

	.line{
		height:5%;
		margin-top: 1px;
		background-color: #78ad7a;
	}

.activityexplanation{
	 height: 100px;
	 width: 80%;
}

	.linkpage a{
		height: 30px;
		width: 100%;
		background-color: white;
	color: green;
		opacity: 0.7;
	}
	.linkpage{
		height: 30px;
		width: 90%;
		margin-left: 10px;

		margin-top: 30px;
	}

	a:link {

		/* display: block; */
		text-decoration: none;
		color: white;
		font-size: 15px;
		margin-left: 5px;
		font-family: Georgia;
		font-weight: bold;
	}

	.profile1 p{

		margin: 40px;
		background-color: white;
		opacity: 0.9;
	}
	.imageprofile p{
		background-color: #78ad7a;
	}
	.active a{
		background-color: black;
		color: white;
	}

	a:hover {
	  color: #FF69B4;
	}
	.name a{
		color: white;
	}
